.container {
    display: grid;
    grid-template-columns: 70vw 30vw;
    grid-template-rows: 70vh 20vh 10vh;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "current-key ad"
      "recent-keys recent-keys"
      "info-and-config info-and-config";
      height: 100vh;
      width: 100vw;
  }
  
  .current-key { grid-area: current-key; padding: 40px; background-color: rgb(255, 255, 255); }
  
  .ad { grid-area: ad; background-color: skyblue; }
  
  .recent-keys { grid-area: recent-keys; background-color: slategrey; }
  
  .info-and-config { grid-area: info-and-config; background-color: tomato; }
  